:root {
  --cant-ferme-color-from: #621cd1;
  --cant-ferme-color-to: #4587f8;

  --cant-variabile-color-from: #fc571d;
  --cant-variabile-color-to: #f2ab30;

  --cant-trading-color-from: #049c4e;
  --cant-trading-color-to: #93c83e;

  --cant-echilibrare-color-from: #f0156b;
  --cant-echilibrare-color-to: #ff6902;

  --cant-totale-color-from: #555354;
  --cant-totale-color-to: #9c9a9b;



  --tile-font-color: white;

}

table, tr {
  width: 100%;
}

